/*
Style Name: Dynamic Team Page
Description: Professional Profile Page with hide/show feature built-in JavaScript
Author: Nathalya Menezes and Tallyta Triollo
Version: 1.0
*/


body {
	background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: rgb(109, 95, 85);
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
	border-radius: 30px;
 }


h2 {
	font-size: 18px;
    color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: rgba(109, 95, 85, 0.605);
	padding: 10px 30px;
	border-radius: 30px;
}


/* Team Members start */

#memberSection {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
}

.memberPic {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* Team Members end */


/* Buttons Profile starts */

#nathButton, #tallyButton {
	background-color: #baa08e;
	color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 30px;
	width: 250px;
	height: 40px;
}

#nathButton:hover, #tallyButton:hover {
	cursor: pointer;
	background-color: #5c4b3f;
}

/* Buttons Profile ends */

/* Profile Team Members */


#memberInfo {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding-top: 2em;
}

#memberInfo img {
	width: 760px;
	height: 520px;
	border-radius: 20px;
}

#closeBtn {
	color: white;
	font-size: 20px;
	width: 50px;
	height: 50px;
	position: absolute;
    margin-left: 850px;
	background-color: #5c4b3f;
	border-radius: 10px;
	cursor: pointer;
}

#overlayPopup {
	position: fixed;
	display: none;
	width: 80%;
	height: 80%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #5c4b3f74;
	border-radius: 20px;
	flex-direction: column;
	z-index: 1000;
}

.show-overlayPopup {
	display: block;
}

/* Profile Team Members end */